.back_page {
    font-size: 15px;
    font-weight: 500;
    position: relative;
    left: 570px;
}

.Form {
    display: flex;
    justify-content: center;
}

.Title {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    position: relative;
    right: 300px;
}

.Title_text {
    font-size: 22px;
    font-weight: 700;
}